h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p {
    margin: 0;
}
hr {
    border: 1px solid #a5a5a5;
}
body {
    margin: 0;
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    background-color: #f5fcfd;
    color: #929292;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}
#header {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #929292;
}
.logo {
    position: absolute;
    left: 150px;
    font-weight: 700;
    color: #0f7bff;
    font-size: 36px;
    cursor: pointer;
}
#header nav a {
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 30px;
    font-size: 16px;
    color: #929292;
    transition: color .2s linear;
}
#header nav {
    position: absolute;
    right: 400px;
}
#header nav a:hover {
    color: #0f7bff;
    transition: color .2s linear;
}
.burger {
    display: none;
    position: absolute;
}
.SignUp {
    position: absolute;
    right: 150px;
    background-color: #0f7bff;
    color: white;
    text-transform: uppercase;
    padding: 10px 50px;
    border-radius: 50px;
    font-weight: 700;
    font-size: 16px;
    margin-left: 55px;
    cursor: pointer;
}
.top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: black;
    height: 400px;
}
.topText {
    position: absolute;
    left: 350px;
}
.text1 {
    font-size: 18px;
}
.text2 {
    font-weight: 700;
    font-size: 42px;
}
.topImage {
    position: absolute;
    right: 350px;
}

#main {
    height: 2000px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.leftSide {
    width: 750px;
    margin-top: 130px;
}
.leftSide hr {
    margin-top: 40px;
    border: #a5a5a5 1px solid;
    opacity: 0.3;
}
.study h3 {
    font-weight: 500;
    font-size: 24px;
    color: black;
    margin-top: 30px;
}
.studyIcons {
    margin-top: 20px;
}
.studyIcons img {
    margin-right: 70px;
}
.studyText {
    margin-top: 30px;
    font-weight: 400;
    font-size: 16px;
}
.marks {
    margin-top: 30px;
}
.marksText {
    margin-left: 100px;
    width: 520px;
    font-weight: 400;
    font-size: 16px;
    color: #333333;
}
.Text {
    margin-top: 30px;
    font-weight: 400;
}
.Tags {
    display: flex;
    flex-direction: row;
    color: #333333;
    margin-top: 40px;
}
.TagsAwards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    width: 85px;
    height: 25px;
    border-radius: 40px;
    color: #0f7bff;
    border: 1px solid #0f7bff;
    cursor: pointer;
}
/*.TagsAwards:hover {*/
/*    background-color: #0f7bff;*/
/*    color: white;*/
/*    transition: color .2s linear;*/
/*}*/
.TagsIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Share {
    margin-left: 430px;
    margin-top: 40px;
    color: #333333;
}
.ShareIcons {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.facebook {
    height: 20px;
    width: 20px;
    background: center no-repeat url("../images/LeftSide/icons/icons8-facebook-f-20.png");
}
.twitter {
    margin-left: 5px;
    height: 20px;
    width: 20px;
    background: center no-repeat url("../images/LeftSide/icons/05_Right-Sidebar-Blog_06.png");
}
.tinder {
    margin-left: 5px;
    height: 20px;
    width: 20px;
    background: center no-repeat url("../images/LeftSide/icons/07_Right-Sidebar-Blog-Details_10.png");
}
.q {
    margin-left: 5px;
    height: 20px;
    width: 20px;
    background: center no-repeat url("../images/LeftSide/icons/07_Right-Sidebar-Blog-Details_12.png");
}
.in {
    margin-left: 5px;
    height: 20px;
    width: 20px;
    background: center no-repeat url("../images/LeftSide/icons/07_Right-Sidebar-Blog-Details_14.png");
}
.facebook:hover {
    background: center no-repeat url("../images/LeftSide/icons/Hover/05_Right-Sidebar-Blog_03.png");
}
.twitter:hover {
    background: center no-repeat url("../images/LeftSide/icons/Hover/icons8-твиттер-16.png");
}





.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 50px;
    margin-right: 15px;
    border: 1px solid #0f7bff;
    border-radius: 40px;
    color: #0f7bff;
    cursor: pointer;
}
.btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    width: 165px;
    height: 50px;
    margin-left: 15px;
    border: 1px solid #0f7bff;
    color: #0f7bff;
    cursor: pointer;
}
.btn1:hover, .btn2:hover {
    color: white;
    background-color: #0f7bff;
    transition: color 0.2s linear;
}
.Comment {

}
.CommentTitle {
    font-size: 24px;
    color: #333333;
    margin-top: 40px;
}
.TopInput {
    display: flex;
    justify-content: space-between;
}
.TopInput input{
    padding-left: 30px;
    border-radius: 5px;
    width: 360px;
    height: 60px;
    border: 1px solid black;
    opacity: 0.5;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}
.InputBottom {
    margin-top: 30px;
    opacity: 0.5;
}
.InputBottom input{
    padding: 0 0 90px 30px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    height: 160px;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}
.submit {
    display: flex;
    justify-content: right;
    margin-top: 30px;
}
.submit input {
    background-color: #0f7bff;
    width: 165px;
    height: 50px;
    border: none;
    border-radius: 40px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

.rightSide {
    margin-top: 130px;
}
.search {
    border-radius: 50px;
    width: 360px;
    border: 1px solid #a5a5a5;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: center;
    margin-left: 30px;

}
.search input {
    border-radius: 50px 0 0 50px;
    width: 277px;
    border: none;
    padding-left: 20px;
}
.search button {
    border-radius: 0 50px 50px 0;
    width: 83px;
    border: none;
    background-color: #0f7bff;
    cursor: pointer;
}
.RecentPost {
    width: 360px;
    height: 430px;
    border: 1px solid #a5a5a5;
    background-color: white;
    margin-left: 30px;
    padding: 30px 40px;
    margin-top: 50px;
}
.RecentPost h4 {
    font-weight: 500;
    font-size: 24px;
    color: #333333;
}

.RecentPostBox {
    display: flex;
    margin-top: 20px;
    height: 80px;
    width: 300px;
    cursor: pointer;
}
.BoxText {
    padding-left: 30px;
}

.BoxText h5 {
    font-weight: 500;
    font-size: 18px;
    color: #333333;
}
.BoxText div {
    font-weight: 400;
    font-size: 16px;
}
.RecentPostBox:hover h5 {
    color: #0f7bff;
    transition: color .2s linear;
}
.Category {
    width: 360px;
    height: 325px;
    border: 1px solid #a5a5a5;
    background-color: white;
    margin-left: 30px;
    padding: 30px 40px;
    margin-top: 50px;
}
.Category h3 {
    font-weight: 500;
    font-size: 24px;
    color: black;
}
.Category hr {
    width: 319px;
    border: 1px solid #a5a5a5;
    opacity: 0.4;
}
.Category div {
    margin-top: 20px;
    cursor: pointer;
}
.Category div:hover {
    color: #0f7bff;
    transition: color .02s linear;
}
.PopularTags {
    width: 360px;
    height: 240px;
    border: 1px solid #a5a5a5;
    background-color: white;
    margin-left: 30px;
    padding: 30px 40px;
    margin-top: 50px;
}
.PopularTags h3 {
    font-weight: 500;
    font-size: 24px;
    color: #333333;
}
.TagsBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 350px;
}
.TagsBox div {
    border-radius: 40px 40px 40px 40px;
    border: 1px solid #a5a5a5;
    margin-right: 15px;
    font-size: 14px;
    height: 28px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}
.WebTemplate {
    width: 114px;
}
.Apps {
    width: 58px;
}
.Awards {
    width: 86px;
}
.UI {
    width: 55px;
    margin-top: 15px;
}
.WebTemplate1 {
    width: 114px;
    margin-top: 15px;
}
.Awards1 {
    width: 86px;
    margin-top: 15px;
}
.TagsBox div:hover {
    color: white;
    background-color: #0f7bff;
    border: #0f7bff;
    transition: color .02s linear;
}

#footer {
    height: 100px;
}
#footer hr {
    margin-top: -1px;
}
.footerElements {
    display: flex;
    justify-content: center;
    width: 100%;
}
.e {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 1440px;
}
.m {
    font-weight: 400;
}
.n {
    margin-left: 450px;
}
.start {
    cursor: pointer;
    font-weight: 400;
    display: inline-block;
}
.start1, .start2 {
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
    margin-left: 30px;
}
.n div:hover {
    color: #0f7bff;
    transition: color .2s linear
}
.scrollToTop {
    display: flex;
    justify-content: center;
    align-items: center;
}
.scrollToTop a {
    cursor: pointer;
}
@media (max-width: 1600px) {
    .n {
        margin-left: 300px;
    }
    .scrollToTop {
        margin-right: 50px;
    }
}
@media (max-width: 1366px) {
    .logo {
        left: 80px;
    }
    .SignUp {
        right: 80px;
    }
    #header nav {
        left: 510px;
    }
    .n {
        margin-left: 300px;
    }
    .scrollToTop {
        margin-right: 50px;
    }
}

@media (max-width: 1024px) {
    body {
        font-size: 12px;
    }
    .scrollToTop {
        display: none;
    }
    #main {
        height: 1650px;
    }
    .logo {
        left: 60px;
    }
    .SignUp {
        right: 60px;
    }
    #header nav a {
        display: none;
    }
    .burger {
        display: block;
        right: 270px;
    }
    .topText {
        left: 150px;
    }
    .text1 {
        font-size: 14px;
    }
    .text2 {
        font-size: 38px;
    }
    .topImage {
        right: 180px;
    }
    .leftSide {
        width: 50%;
    }
    .study img {
        max-width: 500px;
    }
    .study h3 {
        font-size: 20px;
    }
    .studyText {
        font-size: 13px;
    }
    .marks img{
        max-width: 30px;
    }
    .marksText {
        width: 420px;
        font-size: 13px;
        margin-left: 60px;
    }
    .btn1, .btn2 {
        width: 120px;
        height: 40px;
    }
    .Share {
        margin-left: 230px;
    }
    .CommentTitle {
        font-size: 18px;
    }
    .TopInput input {
        width: 240px;
        height: 50px;
    }
    .submit input {
        width: 120px;
        height: 40px;
        font-size: 13px;
    }
    .n {
        margin-left: 150px;
    }

}
@media (max-width: 812px) {
    body {
        font-size: 10px;
    }
    #main {
        height: 1400px;
    }
    .logo {
        font-size: 28px;
    }
    .SignUp {
        font-size: 13px;
    }
    .top {
        height: 300px;
    }
    .topText {
        left: 100px;
    }
    .text1 {
        font-size: 12px;
    }
    .text2 {
        font-size: 26px;
    }
    .topImage {
        right: 150px;
    }
    .topImage img{
    max-width: 250px;
    }
    .study img {
        max-width: 400px;
    }
    .study h3 {
        margin-top: 10px;
        font-size: 17px;
    }
    .studyIcons {
        margin-top: 10px;
    }
    .studyIcons img {
        margin-right: 20px;
    }
    .studyText {
        margin-top: 10px;
        font-size: 9px;
    }
    .marksText {
        width: 350px;
        font-size: 11px;
        margin-left: 50px;
    }
    .Tags {
        margin-top: 30px;
    }
    .Share {
        margin-left: 130px;
        margin-top: 30px;
    }
    .ShareIcons {
        margin-top: 30px;
    }
    .TagsAwards {
        width: 75px;
        height: 20px;
    }
    .btn1, .btn2 {
        width: 100px;
        height: 40px;
    }
    .TopInput input {
        width: 190px;
        height: 40px;
        padding-left: 20px;
        font-size: 11px;
    }
    .InputBottom input {

    }
    .search {
        width: 260px;
        height: 40px;
    }
    .RecentPost {
        width: 277px;
        height: 300px;
        padding: 10px 20px;
        margin-top: 20px;
    }
    .RecentPost h4 {
        font-size: 16px;
    }
    .BoxText h5 {
        font-size: 13px;
    }
    .BoxText div {
        font-size: 11px;
    }
    .RecentPostBox {
        margin-top: 10px;
    }
    .RecentPostBox img {
        max-width: 60px;
        max-height: 60px;
    }
    .BoxText {
        padding-left: 5px;
        width: 150px;
    }
    .Category {
        width: 277px;
        padding: 10px 20px;
        height: 220px;
    }
    .Category h3 {
        font-size: 16px;
    }
    .Category hr {
        width: 255px;
    }
    .PopularTags {
        width: 277px;
        height: 220px;
        padding: 10px 20px;
    }
    .PopularTags h3 {
        font-size: 16px;
    }
    .TagsBox div {
        font-size: 10px;
    }
    .Apps {
        width: 38px;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Awards, .Awards1 {
        width: 58px;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .TagsBox {
        width: 257px;
    }
    .WebTemplate, .WebTemplate1 {
        width: 84px;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .UI {
        width: 25px;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .rightSide, .leftSide {
        margin-top: 60px;
    }
    .e {
        flex-direction: column;
    }
    .n {
        margin-left: 0;
        margin-top: 10px;
    }
    .scrollToTop {
        display: none;
    }
}
@media (max-width: 768px) {
    body {
        font-size: 8px;
    }
    #main {
        height: 1250px;
    }
    .topText {
        left: 130px;
    }
    .topImage {
        right: 130px;
    }
    .study img {
        max-width: 400px;
    }
    .study h3 {
        margin-top: 10px;
        font-size: 16px;
    }
    .Share {
        margin-left: 130px;
        margin-top: 20px;
    }
    .studyText {
        margin-top: 10px;
        font-size: 8px;
    }
    .ShareIcons {
        margin-top: 10px;
    }
    .studyIcons img {
        margin-right: 20px;
    }
    .rightSide, .leftSide {
        margin-top: 60px;
    }
    .search {
        width: 260px;
        height: 40px;
    }
    .RecentPost {
        width: 277px;
        height: 300px;
        padding: 10px 20px;
        margin-top: 20px;
    }
    .RecentPost h4 {
        font-size: 16px;
    }
    .BoxText h5 {
        font-size: 13px;
    }
    .BoxText div {
        font-size: 11px;
    }
    .RecentPostBox {
        margin-top: 10px;
    }
    .RecentPostBox img {
        max-width: 60px;
        max-height: 60px;
    }
    .BoxText {
        padding-left: 5px;
        width: 150px;
    }
    .Category {
        width: 277px;
        padding: 10px 20px;
        height: 220px;
    }
    .Category h3 {
        font-size: 16px;
    }
    .Category hr {
        width: 255px;
    }
    .PopularTags {
        width: 277px;
        height: 220px;
        padding: 10px 20px;
    }
    .PopularTags h3 {
        font-size: 16px;
    }
    .Tags {
        margin-top: 20px;
    }
    .TagsAwards {
        width: 55px;
        height: 15px;
    }
    .btn1, .btn2 {
        width: 90px;
        height: 30px;
    }
    .TopInput input {
        width: 180px;
        height: 40px;
        font-size: 8px;
    }
    .InputBottom input {
        font-size: 8px;
        height: 130px;
    }
    .TagsBox {
        width: 257px;
    }
    .TagsBox div {
        font-size: 8px;
    }
    .Apps {
        width: 38px;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Awards, .Awards1 {
        width: 58px;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .WebTemplate, .WebTemplate1 {
        width: 84px;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .UI {
        width: 25px;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .marksText {
        width: 320px;
        font-size: 10px;
        margin-left: 40px;
    }
    .marks {
        margin-top: 20px;
    }
    .marks img {
        max-width: 20px;
    }
    .Text {
        margin-top: 20px;
    }
    .Share {
        margin-left: 130px;
        margin-top: 20px;
    }
    .studyText {
        margin-top: 10px;
        font-size: 8px;
    }

    .ShareIcons {
        margin-top: 10px;
    }
}
@media (max-width: 736px) {
    #main {
        height: 1250px;
    }
    .logo {
        font-size: 28px;
    }
    .SignUp {
        font-size: 13px;
    }
    .leftSide {
        margin-right: 20px;
    }
    .top {
        height: 300px;
    }

}
@media (max-width: 667px) {
    #main {
        height: 1200px;
    }
    .topText {
        left: 70px;
    }
    .topImage {
        right: 70px;
    }
    .topImage img {
        max-width: 300px;
    }
    .leftSide {
        margin-left: 20px;
    }
    .rightSide {
        margin-right: 20px;
    }
    .study img {
        max-width: 330px;
    }
    .RecentPost {
        width: 260px;
    }
    .Category {
        width: 260px;
        height: 200px;
    }
    .Category hr {
        width: 238px;
    }
    .PopularTags {
        width: 260px;
        height: 200px;
    }
    .search button img {
        max-width: 20px;
    }
    .Share {
        margin-left: 100px;
    }
    .CommentTitle {
        margin-top: 20px;
        font-size: 14px;
    }
    .TopInput input {
        width: 140px;
        padding-left: 10px;
    }
    .InputBottom {
        margin-top: 20px;
    }
    .submit input {
        width: 100px;
        height: 30px;
        font-size: 11px;
    }
}
@media (max-width: 414px) {
    body {
        font-size: 5px;
    }
    #main {
        height: 910px;
    }

    .center {
        margin-top: 20px;
    }
    .top {
        height: 200px;
    }
    .topImage {
    right: 20px;
    }
    .topImage img{
        max-width: 200px;
    }
    .topText {
        left: 30px;
    }

    .text1 {
        font-size: 9px;
    }
    .text2 {
        font-size: 20px;
    }
    .logo {
        left: 15px;
        font-size: 23px;
    }
    .SignUp {
        padding: 10px 30px;
        right: 15px;
        font-size: 11px;
    }
    .burger {
        right: 150px;
    }
    .study img {
        max-width: 180px;
    }
    .study h3 {
        font-size: 10px;
    }
    .leftSide {
        width: 40%;
        margin-left: 20px;
    }
    .studyIcons {
        display: none;
    }
    .search {
        width: 170px;
        height: 20px;
    }
    .search input {
        width: 135px;
    }
    .search button img {
        max-width: 10px;
    }
    .RecentPost {
        width: 170px;
        height: 200px;
        padding: 5px 10px;
    }
    .RecentPost h4 {
        font-size: 11px;
    }
    .RecentPostBox {
        height: 50px;
    }
    .RecentPostBox img {
        max-width: 35px;
        max-height: 35px;
    }
    .BoxText h5 {
        font-size: 11px;
    }
    .BoxText div {
        font-size: 7px;
    }
    .Category {
        width: 170px;
        height: 170px;
        padding: 5px 10px;
        margin-top: 30px;
    }
    .Category h3 {
        font-size: 11px;
    }
    .Category hr {
        width: 158px;
    }
    .PopularTags {
        width: 170px;
        height: 115px;
        padding: 5px 10px;
        margin-top: 30px;
    }
    .PopularTags h3 {
        font-size: 11px;
    }
    .TagsBox {
        margin-top: 10px;
        width: 160px;
    }
    .TagsBox div {
        margin-right: 10px;
        font-size: 5px;
        height: 10px;
    }
    .Apps {
        width: 18px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Awards, .Awards1 {
        width: 38px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .WebTemplate, .WebTemplate1 {
        width: 64px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .UI {
        width: 10px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .marks img {
        max-width: 15px;
    }
    .marksText {
        width: 170px;
        font-size: 7px;
        margin-left: 20px;
    }
    .leftSide hr {
        margin-top: 20px;
    }
    .TagsAwards {
        width: 35px;
        height: 10px;
        margin-left: 5px;
    }
    .Share {
        margin-left: 20px;
    }
    .ShareIcons {
        margin-top: 18px;
    }
    .facebook, .tinder, .q, .in, .twitter {
        width: 8px;
        height: 8px;
    }
    .btn {
        margin-top: 20px;
    }
    .btn1, .btn2 {
        width: 50px;
        height: 20px;
    }
    .CommentTitle {
        font-size: 11px;
    }
    .TopInput input {
        width: 70px;
        height: 20px;
        font-size: 5px;
    }
    .InputBottom {
        margin-top: 10px;
    }
    .InputBottom input {
        height: 80px;
        padding: 0 0 40px 10px;
        font-size: 5px;
    }
    .submit {
        margin-top: 20px;
    }
    .submit input {
        width: 60px;
        height: 20px;
        font-size: 7px;
    }
    .e {
        flex-direction: row;
    }
    .n {
        margin-left: 90px;
        margin-top: 0;
    }
    .start1 {
        margin-left: 5px;
    }
    .start2 {
        margin-left: 5px;
    }
    .footerElements {
        font-size: 7px;
    }
}
@media (max-width: 375px) {
    .topText {
        left: 10px;
    }
    .topImage {
        right: 5px;
    }
    .leftSide {
        position: absolute;
        left: -15px;
        width: 160px;
    }
    .rightSide {
        margin-right: 0;
        position: absolute;
        right: 10px;
    }
    .n {
        margin-left: 50px;
    }
}